.navigation {
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: left;
}

.bigheader {
    font-size: 3.4em;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px;
    /*color: #1b2d80;*/
    color: #0a1c70
     
}

.smallheader {
    padding-left: 30px;
    font-size: 1.5em;
    /*color: #1b2d80;*/
    color: #0a1c70;
}

.ruler {
    border: none;
    height: 5px;
    background-color: #2c3e90;
}

.slides {
    display: inline-block;
    position: relative;
    width: 75%;
    height: 99%;
    top: 3px;
    z-index: 0;
    float: right;
}

.slide{
    max-width: 100%;
    max-height: 100%;
    display: inline;
    position: absolute;    
}
.button-wrapper {
    height: 100%;
    vertical-align: center;
    z-index: 999;
    display: inline-flex;
    overflow: hidden;
}

.scrollButton {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;

    font-family: Courier New;
    font-size: 24px;
    background: #AAAAAA;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    opacity: .6;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 13px;

    outline:none;
}

.scrollButton:hover {
    background: #252729;
    text-decoration: none;
}

#scrollL {
    position: relative;
    right: 20px;
    padding-right: 7px;
    padding-left: 22px;
}

#scrollR {
    position: relative;
    left: 20px;
    padding-right: 22px;
    padding-left: 7px;
}

body {
    /*background-color: #EBEBEB;*/
    margin: 0px;
    background: #972e1a;
    /*background: #812717;*/
    /*background: #e74c3c;*/
}

#wrapper-right {
    float: right;
}

#wrapper-left {
    float: left;
    position: absolute;
}
