.globalheader {
    text-align: center;
    font-size: 300%;
    padding: 0px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #FFFFFF;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
